<div class="container-fluid">
	<div class="card card-widget widget-user shadow">
      <div class="widget-user-header bg-dark">
        <h3 class="widget-user-username">{{ (user.name or '') | title if user else '' }}</h3>
        <h5 class="widget-user-desc">{{ user.email if user else '' }}</h5>
      </div>
      <div class="widget-user-image">
      	{% if not user or not user.avatar %}
      	<span class="brand-image img-circle elevation-2 d-flex justify-content-center align-items-center bg-primary text-white font-weight-500" style="width: 90px;height:90px">
					<h4>{{ (user.firstname[:1] + user.lastname[:1]) | upper if user and user.firstname and user.lastname else 'U' }}</h4>
				</span>
      	{% else %}
        <img class="img-circle elevation-2" src="/assets/uploads/{{ user.avatar }}" alt="User Avatar" style="width: 90px; height: 90px; object-fit: cover;">
      	{% endif %}
      </div>
      <div class="card-footer">
        <div class="container-fluid pt-4">
        	<dl>
        		<dt>Address</dt>
        		<dd>{{ (user.baddress or user.address or 'N/A') | title if user else 'N/A' }}</dd>
        	</dl>
        	<dl>
        		<dt>User Type</dt>
        		<dd>{{ 'Admin' if user and user.type == 1 else 'Staff' }}</dd>
        	</dl>
        </div>
    </div>
	</div>
</div>
<div class="modal-footer display p-0 m-0">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<style>
	#uni_modal .modal-footer{
		display: none
	}
	#uni_modal .modal-footer.display{
		display: flex
	}
</style>
